<div class="card" *ngIf="author">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top"  src="{{author.img_url}}" width="100%" height="auto" alt="Card image cap">
    </div>
    <div class="col-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{author.name}} </li>
        <li class="list-group-item">{{author.descr}}</li>
      </ul>
      <a type="button" class="btn btn-secondary" [routerLink]="['/author/edit', author.id]">Edit {{author.name}} info</a>
      <h4>Books:</h4>
      <div class="card-group">
        <div class="card" *ngFor="let book of author.books">
          <img class="card-img-top" src="{{book.img_url}}" alt="Card image cap">
          <div class="card-block">
            <h5 class="card-title"><a [routerLink]="['/book', book.id]">{{book.title}}</a></h5>
            <p class="card-text">{{book.descr}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
