<div class="card" *ngIf="author">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{author.img_url}}" width="100%" height="auto" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{author.name}}</li>
        <li class="list-group-item">{{author.descr}}</li>
        <li class="list-group-item">file: {{author.img_file}}</li>
      </ul>
    </div>
    <div class="col-9">
      <div class="form-group row">
        <label for="authorName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-5">
          <input class="form-control " id='authorName' type="text" [(ngModel)]="author.name" placeholder="name">
        </div>
      </div>
      <div class="form-group row">
        <label for="authorDescr" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-5">
          <input class="form-control " id='authorDescr' type="text" [(ngModel)]="author.descr" placeholder="Description">
        </div>
      </div>
      <div class="form-group row">
        <label for="authorImg" class="col-sm-2 col-form-label">Image Url</label>
        <div class="col-sm-5">
          <input class="form-control " id='authorImg' type="text" [(ngModel)]="author.img_url" placeholder="Image">
        </div>
        <div class="col-sm-5">
          or
          <label class="custom-file">
            <input type="file" id="file" [(ngModel)]="author.img_file" (change)="fileChange($event)" class="custom-file-input">
            <span class="custom-file-control"></span>
          </label>
        </div>
      </div>
      <button class="btn btn-success" (click)="save($event)">Save</button>
    </div>
  </div>
</div>
