<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Library</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authors">Authors</a>
      </li>
    </ul>
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav" *ngIf="isUserLogin && user.role=='admin'">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/book/edit/">add book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/author/edit/">add author</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isUserLogin">
      <li class="nav-item">
        <a class="nav-link" href="#">{{user.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">exit</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="!isUserLogin">
      <li class="nav-item">
        <button class="btn btn-link" [popover]="popver" placement="left bottom">Loggin</button>
      </li>
    </ul>
  </div>
</nav>
<ng-template #popver>
  <input class="form-control mr-sm-2" type="text" placeholder="name" [(ngModel)]="userLogin">
  <input class="form-control mr-sm-2" type="password" placeholder="pass" [(ngModel)]="password">
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login</button>
</ng-template>
