<div class="card" *ngIf="book">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{book.img_url}}" width="100%" height="auto" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{book.title}}</li>
        <li class="list-group-item">{{book.descr}}</li>
        <li class="list-group-item">{{book.pages}}</li>
        <li class="list-group-item">{{book.year}}</li>
      </ul>
    </div>
    <div class="col-9">
      <div class="form-group row">
        <label for="bookTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-5">
          <input class="form-control " id='bookTitle' type="text" [(ngModel)]="book.title" placeholder="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="bookDescr" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-5">
          <input class="form-control " id='bookDescr' type="text" [(ngModel)]="book.descr" placeholder="Description">
        </div>
      </div>
      <div class="form-group row">
        <label for="bookPages" class="col-sm-2 col-form-label">Pages</label>
        <div class="col-sm-5">
          <input class="form-control " id='bookPages' type="text" [(ngModel)]="book.pages" placeholder="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="bookYear" class="col-sm-2 col-form-label">Year</label>
        <div class="col-sm-5">
          <input class="form-control " id='bookYear' type="text" [(ngModel)]="book.year" placeholder="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="bookImg" class="col-sm-2 col-form-label">Image Url</label>
        <div class="col-sm-5">
          <input class="form-control " id='bookImg' type="text" [(ngModel)]="book.img_url" placeholder="Image">
        </div>
        <div class="col-sm-5">
          or
          <label class="custom-file">
            <input type="file" id="file" [(ngModel)]="book.img_file" (change)="fileChange($event)" class="custom-file-input">
            <span class="custom-file-control"></span>
          </label>
        </div>
      </div>
      <button class="btn btn-success" (click)="save($event)">Save</button>
    </div>
  </div>
</div>
