
<div class="card" *ngFor="let author of authors">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{author.img_url}}" width="auto" height="auto" alt="Card image cap">
    </div>
    <div class="col-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/author', author.id]">{{author.name}}</a></li>
        <li class="list-group-item">{{author.descr}}</li>
        <li class="list-group-item">books: <a [routerLink]="['/book', book.id]" *ngFor="let book of author.books">{{book.title}}, </a></li>
      </ul>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" itemsPerPage="{{perPage}}" (pageChanged)="pageChanged($event)" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
