<div class="card" *ngIf="book">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{book.img_url}}" width="auto" height="auto" alt="Card image cap">
    </div>
    <div class="col-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Title: {{book.title}}</li>
        <li class="list-group-item">Author: <a [routerLink]="['/author', book.author.id]">{{book.author.name}}</a></li>
        <li class="list-group-item">{{book.descr}}</li>
        <li class="list-group-item">pages: {{book.pages}}</li>
        <li class="list-group-item">year: {{book.year}}</li>
      </ul>
      <a type="button" class="btn btn-secondary" [routerLink]="['/books/edit', book.id]">Edit</a>
    </div>
  </div>
</div>
