
<div class="card" *ngFor="let book of books">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top" src="{{book.img_url}}" width="auto" height="auto" alt="Card image cap">
    </div>
    <div class="col-9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a [routerLink]="['/book', book.id]">{{book.title}}</a></li>
        <li class="list-group-item"><a [routerLink]="['/author', book.author.id]">{{book.author.name}}</a></li>
        <li class="list-group-item">{{book.descr}}</li>
        <li class="list-group-item">pages: {{book.pages}}</li>
        <li class="list-group-item">year: {{book.year}}</li>
      </ul>
    </div>
  </div>
</div>

<pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" itemsPerPage="{{perPage}}" (pageChanged)="pageChanged($event)" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
